<!DOCTYPE html>
<html>
<head>
  <title>Advanced router</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "advanced_router/application", media: "all" %>
  <%= javascript_include_tag "advanced_router/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
